<div class="modal fade" id="createUserModal" tabindex="-1" aria-labelledby="createUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createUserModalLabel">Create New User</h5>
                <button class="btn btn-close p-1" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <form action="{% url 'create_crm_user' %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        {{ form.username }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email Address</label>
                        {{ form.email }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        {{ form.password }}
                        <div class="form-text text-danger">Important: Admin must share this password with the user manually or user can reset it later.</div>
                    </div>
                    <div class="row g-2">
                        <div class="col-6 mb-3">
                            <label class="form-label">Role</label>
                            {{ form.role }}
                        </div>
                        <div class="col-6 mb-3">
                            <label class="form-label">Region</label>
                            {{ form.region }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" type="submit">Send Invite</button>
                </div>
            </form>
        </div>
    </div>
</div>