<div class="modal fade" id="createUserModal" tabindex="-1" aria-labelledby="createUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content border-0">
            <div class="modal-header bg-primary py-3">
                <h5 class="modal-title text-white" id="createUserModalLabel">
                    <i class="fas fa-user-plus me-2"></i>Create Team Member
                </h5>
                <button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'create_crm_user' %}" method="post">
                {% csrf_token %}
                <div class="modal-body p-4">
                    <div class="row g-4">
                        <div class="col-12 col-md-6">
                            <label class="form-label fs-10 fw-bold text-uppercase text-body-tertiary">Username</label>
                            {{ form.username }}
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="form-label fs-10 fw-bold text-uppercase text-body-tertiary">Email Address</label>
                            {{ form.email }}
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="form-label fs-10 fw-bold text-uppercase text-body-tertiary">Initial Password</label>
                            {{ form.password }}
                            <small class="text-body-tertiary fs-11 mt-1 d-block">User will be asked to change this on first login.</small>
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="form-label fs-10 fw-bold text-uppercase text-body-tertiary">Assigned Role</label>
                            {{ form.role }}
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="form-label fs-10 fw-bold text-uppercase text-body-tertiary">Phone Number</label>
                            {{ form.phone_number }}
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="form-label fs-10 fw-bold text-uppercase text-body-tertiary">Work Region</label>
                            {{ form.region }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer border-0 pt-0">
                    <button class="btn btn-phoenix-secondary px-5" type="button" data-bs-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary px-5" type="submit">Create User</button>
                </div>
            </form>
        </div>
    </div>
</div>
