<h3>Hello {{ user.username }},</h3>

<p>You have been invited to join the CRM as a {{ user.role }}.</p>

<p>Please click one of the links below to respond to this request:</p>

<p>
    <a href="http://{{ domain }}{% url 'activate' uidb64=uid token=token action='accept' %}" 
       style="background-color: green; color: white; padding: 10px; text-decoration: none;">
       ACCEPT INVITATION
    </a>
</p>

<p>
    <a href="http://{{ domain }}{% url 'activate' uidb64=uid token=token action='reject' %}" 
       style="background-color: red; color: white; padding: 10px; text-decoration: none;">
       REJECT INVITATION
    </a>
</p>

<p>If you did not request this, please ignore this email.</p>